/* 
    Document   : utils
    Created on : 16-dic-2012, 19:45:59
    Author     : pablo
    Description:
        Common Used CSS Classes
*/

/* Float
*/

.float-left {
  float: left;
}

.float-right {
  float: right;
}

.clear {
  clear: both;
}

/* Text
*/

.txt-center {
  text-align: center;
}

.txt-left {
  text-align: left;
}

.txt-right {
  text-align: right;
}

.txt-bold {
  font-weight: bold;
}

.txt-italic {
  font-style: italic;
}

.txt-middle {
  vertical-align: middle;
}

/* Text Transform
*/

.uppercase {
  text-transform: uppercase;
}

.lowercase {
  text-transform: lowercase;
}

/* Cursor
*/ 

.pointer {
  cursor: pointer;
}

/* Position
*/

.absolute {
  position: absolute;
}

.relative {
  position: relative;
}

.fixed {
  position: absolute;
  position: fixed;
}

.margin-center {
  margin-left: auto;
  margin-right: auto;
}

/* Display
*/

.block {
  display: block;
}

.inline {
  display: inline;
}

.inline-block {
  display: inline-block;
}

.no-display {
  display: none;
}

/* Opacity
*/

.opacity-hidden {
  opacity: 0;
  filter: alpha(opacity=0);
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
}

.opacity-hidden-hover:hover {
  opacity: 0;
  filter: alpha(opacity=0);
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
}

.opacity-background {
  opacity: 0.7;
  filter: alpha(opacity=70);
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
}

.opacity-background-hover:hover {
  opacity: 0.7;
  filter: alpha(opacity=70);
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
}

.opacity-visible {
  opacity: 1;
  filter: alpha(opacity=100);
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
}

.opacity-visible-hover:hover {
  opacity: 1;
  filter: alpha(opacity=100);
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
}

/* Background
*/

.background-white {
  background-color: #fff;
}

.background-black {
  background-color: #000;
}

.background-blue {
  background-color: #005B82;
}

.background-yellow {
  background-color: #FEDF00;
}
.no-repeat {
  background-repeat: no-repeat;
}

/* Color
*/

.black {
  color: #000000;
}

.white {
  color: #ffffff;
}

/* Overlay-Color
*/

.gray-overlay {
  background-image: url(../img/gray-overlay.png);
  background-attachment:fixed;
}

.blue-overlay {
  background-image: url(../img/blue-overlay.png);  
  background-attachment:fixed;
}

.yellow-overlay {
  background-image: url(../img/yellow-overlay.png);  
  background-attachment:fixed;
}